# ==============================
# ENVIRONMENT VARIABLES / SECRETS
# ==============================
.env
.env.*
!.env.example

**/.env
**/.env.*
!**/.env.example


# ==============================
# PYTHON
# ==============================
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc

venv/
.venv/
env/


# ==============================
# NODE / REACT
# ==============================
node_modules/
**/node_modules/

dist/
**/dist/


# ==============================
# LOGS
# ==============================
*.log
logs/


# ==============================
# IDE
# ==============================
.vscode/
.idea/


# ==============================
# OPERATING SYSTEM
# ==============================
.DS_Store
Thumbs.db